<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/cinema/static/img/favicon.png">
    <title>{% block title %}云端放映室{% endblock %}</title>
    <link rel="stylesheet" href="/cinema/static/css/common.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <script src="/cinema/static/js/common.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
